.TotalCard {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.TotalCard .total-card-container {
    width: 100%;
    height: 85%;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 16px;
    padding-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    display: flex;
    flex-direction: column;
}

.TotalCard .total-card-container .icon {
    width: 55px;
    height: 55px;
    position: absolute;
    background-image: linear-gradient(to top, #242426, #29292c, #2e2e32, #343339, #39383f, #3b3a42, #3e3d44, #403f47, #403f47, #403f47, #403f47, #403f47);
    border-radius: 10px;
    top: -12%;
    left: 4%;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.TotalCard .total-card-container .content {
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-bottom: 1px solid #ddd;
}

.TotalCard .total-card-container .content .name {
    color: #605d5dd8;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.TotalCard .total-card-container .content .value {
    font-size: 32px;
    font-weight: bold;
    line-height: normal;

}

.TotalCard .total-card-container .statistics {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    display: flex;
    gap: 8px;
}

.TotalCard .total-card-container .statistics .num {
    color: rgba(29, 211, 29, 0.889);
    font-weight: 600;
}

.TotalCard .total-card-container .statistics .text {
    color: #BBBBBB;
}